<div class="container-fluid h-100 pt-5 " style="background-color: #040C0E;" (click)="Clicked()">
    <div class="row w-50 mx-auto" id="details" style="background-color: #F1BA48;">
        <div class="col-xs-12  col-sm-3 border-primary rounded-lg">
            <img class="card-img-top mt-3 mb-3" [src]="profileimg" alt="Card image cap">
        </div>
        <div class="col-10  col-sm-7 mt-3 ">
            <div>
                <span style="font-size: 2vw;" inline=true>
                    <mat-icon class="pr-2"> person_pin</mat-icon> {{name}}
                </span>
            </div>
            <div class="mt-1">
                <span style="font-size: 2vw;" inline=true>
                    <mat-icon class="pr-2"> mail_outline</mat-icon> {{email}}
                </span>
            </div>
            <div class="mt-1">
                <span style="font-size: 2vw;" inline=true>
                    <mat-icon class="pr-2"> phone</mat-icon> {{number}}
                </span>
            </div>
            <div class="mt-1">
                <span style="font-size: 2vw;" inline=true>
                    <mat-icon class="pr-2"> date_range</mat-icon> {{dob}}
                </span>
            </div>
            <div class="mt-1">
                <button class="btn btn-primary btn-block btn-lg" (click)="feedback()"> Feedback </button>
                <button type="button" class="btn btn-block btn-danger btn-lg" (click)="logout()">Logout</button>
            </div>
        </div>
        <div class="col-2 col-sm-2">
            <mat-icon class="mt-4 float-right float-xs-right" (click)="opennotifi()" matBadge="10"
                [matBadge]="badgeContent">
                notifications
            </mat-icon>
        </div>
    </div>
</div>