<div class="container-fluid h-100 pt-5" style="background-color: #040C0E;" *ngIf = "noui">
    <div class="row w-50 mx-auto " style="background-color: #F1BA48;">
        <div class="col-xs-12  col-sm-3">
            <img class="card-img-top mt-3 mb-3" [src]="profileimg" alt="Card image cap">
        </div>
        <div class="col-xs-12  col-sm-7 mt-3 ">
            <div>
                <span style="font-size: 2vw;" inline=true>
                    <mat-icon class="pr-2"> person_pin</mat-icon> {{adduserdata.Name}}
                </span>
            </div>
            <div class="mt-1">
                <span style="font-size: 2vw;" inline=true>
                    <mat-icon class="pr-2"> mail_outline</mat-icon> {{adduserdata.Email}}
                </span>
            </div>
            <div class="mt-1">
                <span style="font-size: 2vw;" inline=true>
                    <mat-icon class="pr-2">  phone</mat-icon> {{adduserdata.Mobile_Number}}
                </span>
            </div>
            <div class="mt-1">
                <span style="font-size: 2vw;" inline=true>
                    <mat-icon class="pr-2">  date_range</mat-icon> {{adduserdata.DOB}}
                </span>
            </div>
            <div >
                <span style="font-size: 2vw;" inline=true>
                    <mat-icon class="pr-2">  wc</mat-icon> {{adduserdata.Status}}
                </span>
            </div>
        </div>
        <div class="col-2 col-xs-12 col-sm-2 mt-3">
            <button *ngIf="adduserbutton" type="button" class="btn btn-danger btn-lg" (click)="adduser()">Add User</button>
        </div>
    </div>
</div>
