<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['login']" routerLinkActive="active">Viha Technosoft</a>

  <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Login <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['register']" routerLinkActive="active">Register</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
        [(ngModel)] = "tosearch" [ngModelOptions]="{standalone: true}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse"  data-target="#userdata"
        aria-expanded="false" aria-controls="userdata" style="background-color: yellow;"
        (click)="search()">Search</button>
    </form>
  </div>
</nav>
<div class="collapse" id="userdata" [ngClass]="{'show': useropen}" style="background-color: #040C0E;">
  <div class="row">
    <div class="col col-9 col-xs-0"></div>
    <div class="col col-xs-12 col-md-3">
      <ul>
        <li class="mt-2" style="color: white; list-style: none;" >
          <span class="user bg-danger" style="font-size: 3vh;" (click)="clickeduser(users.Name)">{{users?.Name}}</span>
          <span *ngIf="showaddbutton === false" class="bg-success float-right" style="font-size: 3vh;"> Friends </span>
          <button *ngIf="showaddbutton" type="button" class="btn btn-info col-xs-6 float-right" (click)="add_as_friend()">Add</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>